<header>
        <h1>🌈 Login to a petition 🌈</h1>
        <p>against empty snack boxes</p>
</header><div class="container">
   {{#if err }}
<span> {{this.err}} </span>   
   {{/if}}
    <div class="main">
    {{!-- login-div --}}
        <form method="POST" action="">
            <div id="login">
                <input type="text" id="email" name="email"> </input>
                    <br>
                    <label for="email">eMail adress</label>
                    <br>
                <input type="text" id="password" name="password"> </input>
                    <br>
                    <label for="password">Password</label>
                    <br>
                <button id="login">
                    log in
                </button>
            </div>
        </form>
    </div>
<footer></footer>
</div>