<header>
<div id="container">
<h1>🌈 register for a petition 🌈</h1>
<p>against empty snack boxes</p>
</header>

<br>
{{!-- login-div --}}
<form method="POST" action="">
    <div id="signup">
        <input type="text" id="firstnamesignup" name="firstnamesignup"> </input>
             <br>
            <label for="efirstnamesignup">name</label>
            <br>
        <input type="text" id="emailSignu" name="emailSignu"> </input>
            <br>
            <label for="emailSignup">eMail adress</label>
            <br>
        <input type="text" id="passwordsignup" name="passwordsignup"> </input>
            <br>
             <label for="passwordsignup">Password</label>
            <br>
        <button id="signup">
            sign up
        </button>
    </div>
</form>

</div>