<h1>leaking your data here👇</h1>

<ul class="authors">
{{#authors}}
    <li class="author">
        {{name}}
        <ul class="books">
            {{#books}}
                <li class="book">{{title}}
            {{/books}}
        </ul>
{{/authors}}
</ul>