<header>
<h1>🌈 register for a petition 🌈</h1>
<br>
<p>against empty snack boxes</p>
</header>

<div class="container">
{{!-- login-div --}}
    <form method="POST" action="">
        <div id="signup">
            <input type="text" id="firstnameSignup" name="firstnameSignup"> </input>
                <br>
                <label for="firstnameSignup">first name</label>
                <br>
                <input type="text" id="lastnameSignup" name="lastnameSignup"> </input>
                <br>
                <label for="lastnameSignup">last name</label>
                <br>
            <input type="text" id="emailSignup" name="emailSignup" required> </input>
                <br>
                <label for="emailSignup">eMail adress</label>
                <br>
            <input type="text" id="passwordSignup" name="passwordSignup"> </input>
                <br>
                <label for="passwordSignup">Password</label>
                <br>
            <button id="signup">
                sign up
            </button>
            <br>
            <div>
                <p>if yor already registred, please <a href="/login">log in</a> </p>
            </div>
        </div>
    </form>

</div>